.score-chart {
    background-color: #f7f6f6;
    border-radius: 5px;
    padding: 1rem;
    width: 250px;
    height: 250px;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
  }
  
  .score-chart h3 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 0;
  }
  
  .score-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .score-value {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
  }
  
  .score-text {
    font-size: 0.9rem;
    color: #74798C;
  }